@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: open-sans-600;
  src: url(../fonts/open-sans-semi-bold.ttf);
}
@font-face {
  font-family: roboto-700;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto-500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-condensed-400;
  src: url(../fonts/roboto-condensed-regular.ttf);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.no-scroll {
  overflow: hidden;
}

:root {
  --main-text-color: #ffffff;
  --second-text-color: #86e543;
  --accent-text-color: #01383a;
  --semi-light-text-color: #8d9289;
  --main-background-color: #01383a;
  --btn-accent-color: #86e543;
  --footer-background-color: #001414;
  --backdrop-color: rgba(0, 20, 20, 0.8);
  --header-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5),
    0px 4px 4px rgba(17, 168, 26, 0.2);
  --btn-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
    0px 4px 10px rgba(255, 255, 255, 0.1);
  --top-underline-color: #7BE34A;
  --sub-underline-color: #28780D;
  --top-underline-shadow: box-shadow:0px 4px 25px rgba(123, 227, 74, 0.25);
  --sub-underline-shadow: box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
  --main-font: "roboto-400", sans-serif;
  --medium-font: "roboto-500", sans-serif;
  --boid-font: "roboto-700", sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 480px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 48px;
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.section--padding-top {
  padding-top: 0;
}
.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 35px;
  text-align: center;
  color: var(--second-text-color);
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 56px;
    line-height: 1.18;
    margin-bottom: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    margin-bottom: 75px;
  }
}

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background: var(--footer-background-color);
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .container {
    justify-content: center;
  }
}

.logo {
  display: block;
  width: 122px;
  margin-bottom: 25px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 118px;
  }
}

.logo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--main-text-color);
}

.menu-list {
  margin-right: 160px;
}
@media screen and (min-width: 768px) {
  .menu-list {
    margin-right: 89px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-list {
    margin-right: 217px;
  }
}

.menu-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-list__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .socials-list {
    display: flex;
    margin-right: 73px;
  }
}
@media screen and (min-width: 1280px) {
  .socials-list {
    display: flex;
    flex-direction: column;
    margin-right: 281px;
  }
}

.address-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  font-style: normal;
  margin-bottom: 8px;
}

.address-list__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--semi-light-text-color);
}

.address-list__item {
  margin-bottom: 8px;
}

.address-list__item:first-child {
  margin-bottom: 16px;
}

.menu-socials {
  display: flex;
  justify-content: space-between;
}

.socials-list__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .socials-list__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .socials-list__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

/*.background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/bg/bg-mob.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/bg/bg-mob-2x.jpg);
    }

    @media screen and (min-width: 481px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/bg/bg-tab.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../../images/bg/bg-tab-2x.jpg);
        }
    }

    @media screen and (min-width: 769px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/bg/bg3-desk.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../../images/bg/bg3-desk-2x.jpg);
        }
    }

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% auto;
}
*/
.list-button {
  display: flex;
  margin-bottom: 72px;
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  .list-button {
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-button {
    width: 687px;
    height: 51px;
    gap: 53px;
  }
}
@media screen and (min-width: 1200px) {
  .list-button {
    justify-content: center;
    margin-bottom: 72px;
    gap: 44px;
  }
}

.list-button__button {
  border-radius: 16px;
  border: 1px solid #86E543;
  background-color: transparent;
  font-family: inherit;
  color: #86E543;
  width: 132px;
  height: 51px;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  padding: 16px 24px;
  transition: var(--timing-function);
}
.list-button__button:hover, .list-button__button:focus {
  color: #01383A;
  background-color: #86E543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.titel {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-right: 16px;
  margin-bottom: 4px;
}

.list-cards {
  display: block;
  gap: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-cards {
    display: flex;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .list-cards {
    display: flex;
    gap: 24px;
  }
}

.list-cards__block {
  gap: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-cards__block {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .list-cards__block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

/*.list-cards__item {
    display: block;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 285px;
        flex-basis: calc((100% - 38px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: 285px;
        flex-basis: calc((100% - 20px) / 5);
    }
}*/
.list-cards__link {
  display: block;
  text-decoration: none;
}

.list-cards__container-img {
  position: relative;
  overflow: hidden;
  border: 1px solid #86E543;
  border-radius: 12px;
}
.list-cards__container-img:hover, .list-cards__container-img:focus {
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.list-cards__img {
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform var(--timing-function);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  background-color: #01383A;
}

.overlay-text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.list-cards__link:hover .overlay,
.list-cards__link:focus .overlay {
  transform: translateY(0);
}

.list-cards__title {
  color: #86E543;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  flex-grow: 0;
  margin-right: 8px;
}

.list-card__price {
  display: flex;
  gap: 80px;
  margin-right: 8px;
  margin-bottom: 11px;
}

.list-cards__text1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8D9289;
}

.list-cards__text2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #86E543;
  justify-content: baseline;
  gap: 80px;
}

.test {
  display: flex;
  color: blue;
}/*# sourceMappingURL=index.css.map */