@import './utils/common';
@import './utils/fonts';
@import './utils/reset';
@import './utils/vars';
@import './utils/hidden';
@import './utils/mixins';
@import './utils/placeholders';

@import './components/container';
@import './components/section';
@import './components/modal';

// @import './example';
@import './layout/header';
@import './layout/footer';
@import './layout/main';
@import './layout/accessories';
@import './layout/order';
@import './layout/contact';
@import './layout/blog-article';
@import './layout/blog';

