@font-face {
    font-family: open-sans-600;
    src: url(../fonts/open-sans-semi-bold.ttf);
}

@font-face {
    font-family: roboto-700;
    src: url(../fonts/Roboto-Bold.ttf);
}

// @font-face {
//     font-family: roboto-500;
//     src: url(../fonts/roboto-medium.ttf);
// }

// @font-face {
//     font-family: roboto-400;
//     src: url(../fonts/roboto-regular.ttf);
// }
// @font-face {
//     font-family: roboto-condensed-400;
//     src: url(../fonts/roboto-condensed-regular.ttf);
// }

