<section class="blog-container">
    <div class="lines">
      <h1 class="page-title">Blog</h1>
      <div class="line-top line-1-top"></div>
      <div class="line-top line-2-top"></div>
      <div class="line-top line-3-top"></div>
      <div class="line-bottom line-1-bottom"></div>
      <div class="line-bottom line-2-bottom"></div>
      <div class="line-bottom line-3-bottom"></div>
    </div>
  <ul class="blog">
    <li class="blog-article">

       <picture class="blog-article__image--desk">
                  <source
                    srcset="images/blog/art1-desk.jpg 1x, images/blog/art1-desk-2x.jpg 2x"
                    media="(min-width: 1280px)"
                  />
                  <img src="images/blog/art1-desk.jpg" alt="Hand and headphones" width="387" />
                </picture>
      <div class="blog-article__wrap">

          <h2 class="blog-article__title">
          Guide to Picking The Right Gaming Headset
          </h2>
          <div class="blog-article__block">

            <picture class="blog-article__image">
                  <source
                    srcset="images/blog/art1-tab.jpg 1x, images/blog/art1-tab.jpg 2x"
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="images/blog/art1-mob.jpg 1x, images/blog/art1-mob-2x.jpg 2x"
                    media="(max-width: 767px)"
                  />
                  <img src="images/blog/art1-desk.jpg" alt="Hand and headphones" width="288" />
                </picture>

            <div class="blog-article__part">
              <p class="blog-article__author">By Ray Ian Ampoloquio</p>
              <p class="blog-article__date">Updated on September 21, 2022</p>
            </div>
          </div>
      
      <p class="blog-article__text">
        Learn how to choose an amazing gaming headset with this checklist of
        just 9 surprisingly simple steps. Gaming headsets offer a handy and
        practical solution to any and all of your gaming audio needs. But, as
        with any kind of ...
      </p>
      <a class="blog-article__link" href="blog-article.html">Learn more</a>
      </div>
    </li>
    <li class="blog-article">
      <picture class="blog-article__image--desk">
                  <source
                    srcset="images/blog/art2-desk.jpg 1x, images/blog/art2-desk-2x.jpg 2x"
                    media="(min-width: 1280px)"
                  />
                  <img src="images/blog/art2-desk.jpg" alt="Hand and headphones" width="387" />
                </picture>
      <div class="blog-article__wrap">
      <h2 class="blog-article__title">
        Mic Monitoring: What Is It and How It Is Relevant to Gaming
      </h2>
      <div class="blog-article__block">
        <picture class="blog-article__image">
                  <source
                    srcset="images/blog/art2-tab.jpg 1x, images/blog/art2-tab.jpg 2x"
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="images/blog/art2-mob.jpg 1x, images/blog/art2-mob-2x.jpg 2x"
                    media="(max-width: 767px)"
                  />
                  <img src="images/blog/art2-desk.jpg" alt="Hand and headphones" width="387" />
                </picture>
        <div class="blog-article__part">
            <h3 class="blog-article__author">By Gab L</h3>
            <h4 class="blog-article__date">Updated on September 10, 2022</h4>
        </div>
      </div>
      <p class="blog-article__text">
        An explanation and exploration of microphone monitoring — its benefits
        and how you can start using one of the most underrated features today
        ...
      </p>
      <a class="blog-article__link" href="">Learn more</a>
      </div>
    </li>
    <li class="blog-article">
      <picture class="blog-article__image--desk">
                  <source
                    srcset="images/blog/art3-desk.jpg 1x, images/blog/art3-desk-2x.jpg 2x"
                    media="(min-width: 1280px)"
                  />
                  <img src="images/blog/art3-desk.jpg" alt="Silhouette on the screen background" width="387" />
                </picture>
      <div class="blog-article__wrap">
      <h2 class="blog-article__title">How to Choose the Right Gaming Mouse</h2>
      <div class="blog-article__block">
        <picture class="blog-article__image">
                  <source
                    srcset="images/blog/art3-tab.jpg 1x, images/blog/art3-tab.jpg 2x"
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="images/blog/art3-mob.jpg 1x, images/blog/art3-mob-2x.jpg 2x"
                    media="(max-width: 767px)"
                  />
                  <img src="images/blog/art3-desk.jpg" alt="Gamer in front of the screen" width="387" />
                </picture>
        <div class="blog-article__part">
            <h3 class="blog-article__author">By Michael Crider</h3>
            <h4 class="blog-article__date">Updated on September 2, 2022</h4>
        </div>
      </div>
      <p class="blog-article__text">
        A good mouse can make a big difference when playing your favorite games.
        Here’s what you need to know about grip styles, types of gaming mice,
        technical specs, and more, before purchasing a new gaming mouse ...
      </p>
      <a class="blog-article__link" href="">Learn more</a>
      </div>
    </li>
  </ul>
    <div class="marker">
    <span
      class="marker__rad"
      tabindex="0"
      role="button"
      aria-label="Go to slide 1"
      aria-current="true"
    ></span>
    <span
      class="marker__rad"
      tabindex="0"
      role="button"
      aria-label="Go to slide 2"
      aria-current="true"
    ></span>
    <span
      class="marker__rad"
      tabindex="0"
      role="button"
      aria-label="Go to slide 3"
      aria-current="true"
    ></span>
</section>
