<section class="contacts">
  <div class="con-lines">
    <div class="container title__container">
      <ul class="title__list">
        <li class="title__item">
          <h2 class="contacts__title section-title">Сontacts</h2>
        </li>
      </ul>
    </div>
    <div class="con-line-top con-line-1-top"></div>
    <div class="con-line-top con-line-2-top"></div>
    <div class="con-line-top con-line-3-top"></div>
    <div class="con-line-bottom con-line-1-bottom"></div>
    <div class="con-line-bottom con-line-2-bottom"></div>
    <div class="con-line-bottom con-line-3-bottom"></div>
    <div class="container picture__container">
      <picture class="contacts__picture">
        <source
          srcset="
            ./images/contacts/gamer_table_desk_1x.jpg 1x,
            ./images/contacts/gamer_table_desk_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/contacts/gamer_table_tab_1x.jpg 1x,
            ./images/contacts/gamer_table_tab_2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/contacts/gamer_table_mob_1x.jpg 1x,
            ./images/contacts/gamer_table_mob_2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          srcset="
            ./images/contacts/gamer_table_desk_1x.jpg 1x,
            ./images/contacts/gamer_table_desk_2x.jpg 2x
          "
          class="contacts__photo"
          src="./images/main/banner1.jpg"
          alt="device"
          width="100%"
        />
      </picture>
    </div>
  </div>

  <div class="container main__container">
    <div class="container contacts__container">
      <p class="contacts__text">
        In case of queries about order handling and/ or delay, drop us an email
        at
      </p>
      <a class="contacts__text link" href="mailto:info@shopforgamers.com"
        >info@shopforgamers.com</a
      >
      <div class="contacts-info">
        <div class="contacts-email">
          <ul class="contacts__list">
            <li class="contacts__item">
              <p class="contacts__text">Email</p>
            </li>
            <li class="contacts__item">
              <a class="contacts-mail link" href="mailto:sfg.info@gmail.com"
                >sfg.info@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <div class="contacts-phone">
          <ul class="contacts__list">
            <li class="contacts__item">
              <p class="contacts__text">Phone number</p>
            </li>
            <li class="contacts__item">
              <a class="contacts-tel link" href="tel:+380936432288"
                >+38 (093) 643 22 88</a
              >
            </li>
            <li class="contacts__item">
              <a class="contacts-tel link" href="tel:+380503454423"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Form container "Contact Us" -->
    <div class="container form__container">
      <h2 class="contacts__title green-title">Contact Us</h2>
      <form class="online-form">
        <div class="contacts__form">
          <div class="modal-field">
            <label for="online-name" class="modal-label"></label>
            <input
              type="text"
              class="online-input"
              name="online-name"
              required
              minlength="3"
              id="online-name"
              placeholder="Name"
            />
          </div>
          <div class="modal-field">
            <label for="online-mail" class="modal-label"></label>
            <input
              type="email"
              class="online-input"
              name="online-mail"
              required
              id="online-mail"
              placeholder="Email"
            />
          </div>
          <div class="contacts__form-comment">
            <label for="online-comment" class="contacts-label"
              >Leave your message</label
            >
            <textarea
              name="online-comment"
              required
              id="online-comment"
              class="contacts-comment"
            ></textarea>
          </div>
        </div>
        <button type="submit" data-modal-open class="submit-button">
          Send
        </button>
      </form>
    </div>
  </div>
</section>

<!-- ATTENTION! This code for the modal window below should be added somewhere next to the Footer part -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-button" data-modal-close>
      <svg class="modal-close-icon" width="31" height="31">
        <use href="./images/icons.svg#icon-close-g"></use>
      </svg>
    </button>
    <p class="modal-title">
      Thank you<br />
      for your message!<br />
      We will contact you soon!
    </p>
    <form action="./index.html">
      <button type="submit" class="submit-button green">Ok</button>
    </form>
  </div>
</div>
