<footer class="footer">
  <div class="container">
    <a href="./index.html" class="logo link"
      ><h1 class="logo-title">SHOP FOR GAMERS</h1></a
    >

    <div class="menu-socials">
      <ul class="menu-list">
        <li class="menu-list__item">
          <a class="menu-list__link link" href="./accessories.html"
            >Accessories</a
          >
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link link" href="./order.html">Take order</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link link" href="./contact.html">Contact</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link link" href="./blog.html">Blog</a>
        </li>
      </ul>

      <ul class="socials-list">
        <li class="socials-list__item">
          <a class="socials-list__link link" href="">
            <svg class="socials-list__icon" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a class="socials-list__link link" href="">
            <svg class="socials-list__icon" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a class="socials-list__link link" href="">
            <svg class="socials-list__icon" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <address>
      <ul class="address-list">
        <li class="address-list__item">
          <p class="address-list__text">Email</p>
          <a href="mailto:sfg.info@gmail.com" class="address-list__link link"
            >sfg.info@gmail.com</a
          >
        </li>
        <li class="address-list__item">
          <p class="address-list__text">Phone number</p>
          <a href="tel:+380936432288" class="address-list__link link"
            >+38 (093) 643 22 88</a
          >
        </li>
        <li class="address-list__item">
          <a href="tel:+380503454423" class="address-list__link link"
            >+38 (050) 345 44 23</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
