<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo link"
      ><h1 class="logo-title">SHOP FOR GAMERS</h1></a
    >
    <button
      type="button"
      class="mob-menu-close-btn is-open"
      aria-expanded="false"
      aria-controls="mob-menu"
      data-menu-button
    >
      <svg
        class="icon"
        width="54"
        height="36"
        aria-label="перемикач мобільного меню"
      >
        <use
          class="icon-burger"
          href="./images/symbol-defs.svg#icon-Vector"
        ></use>
        <use
          class="icon-cross"
          href="./images/symbol-defs.svg#icon-burger"
        ></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-list__item">
        <a class="menu-list__link link current" href="./accessories.html"
          >Accessories</a
        >
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link link" href="./contact.html">Contact</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link link" href="./blog.html">Blog</a>
      </li>
    </ul>
    <a class="header-button link" href="./order.html">Shop now</a>
    <!-- <button type="button" class="header-button">Shop now</button> -->
  </div>

  <div class="mob-menu" id="mob-menu" data-menu>
    <ul class="menu-list">
      <li class="menu-list__item">
        <a class="menu-list__link link" href="./accessories.html"
          >Accessories</a
        >
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link link" href="./contact.html">Contact</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link link" href="./blog.html">Blog</a>
      </li>
    </ul>
  </div>

  <script src="./js/menu.js"></script>
</header>
