<main>
  <section class="section section--order">
    <div class="container">
      <div class="order-lines">
        <h2 class="order-title">Take order</h2>
        <div class="order-line-top order-line-top-1"></div>
        <div class="order-line-top order-line-top-2"></div>
        <div class="order-line-top order-line-top-3"></div>
        <div class="order-line-bottom order-line-bottom-1"></div>
        <div class="order-line-bottom order-line-bottom-2"></div>
        <div class="order-line-bottom order-line-bottom-3"></div>
      </div>

      <div class="order-product--desktop">
        <div class="">
          <picture>
            <source
              srcset="
                images/take-order/phone.jpg    1x,
                images/take-order/phone-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              class="order-product__photo--desktop"
              src="images/take-order/phone.jpg"
              alt="headphone"
              width="100%"
            />
          </picture>
        </div>

        <div class="order-product">
          <h3 class="order-product__title">Xiberia K9 PRO PC Headset</h3>
          <div class="order-product__tablet">
            <picture>
              <source
                srcset="
                  images/take-order/phone-tab.jpg    1x,
                  images/take-order/phone-tab-2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  images/take-order/phone-mob.jpg    1x,
                  images/take-order/phone-mob-2x.jpg 2x
                "
                media="(min-width:480px)"
              />

              <img
                class="order-product__photo"
                src="images/take-order/phone.jpg"
                alt="headphone"
                width="100%"
              />
            </picture>

            <div class="order-product__price">
              <p class="order-product__ex-price">65.14 USD</p>
              <p class="order-product__new-price">55.14 USD</p>
            </div>
          </div>

          <ul class="order-product__variants">
            <li>
              <picture>
                <source
                  srcset="
                    images/take-order/var1.jpg    1x,
                    images/take-order/var1-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    images/take-order/var1-tab.jpg    1x,
                    images/take-order/var1-tab-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <!-- <source
                  srcset="
                    images/take-order/var1-mob.jpg    1x,
                    images/take-order/var1-mob-2x.jpg 2x
                  "
                  media="(min-width:480px)"
                /> -->
                <img
                  class="order-product__color"
                  src="images/take-order/var1.jpg"
                  alt="headphone1"
                  width="100%"
                />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset="
                    images/take-order/var2.jpg    1x,
                    images/take-order/var2-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    images/take-order/var2-tab.jpg    1x,
                    images/take-order/var2-tab-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <!-- <source
                  srcset="
                    images/take-order/var2-mob.jpg    1x,
                    images/take-order/var2-mob-2x.jpg 2x
                  "
                  media="(min-width:480px)"
                /> -->
                <img
                  class="order-product__color"
                  src="images/take-order/var2.jpg"
                  alt="headphone1"
                  width="100%"
                />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset="
                    images/take-order/var3.jpg    1x,
                    images/take-order/var3-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    images/take-order/var3-tab.jpg    1x,
                    images/take-order/var3-tab-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <!-- <source
                  srcset="
                    images/take-order/var3-mob.jpg    1x,
                    images/take-order/var3-mob-2x.jpg 2x
                  "
                  media="(min-width:480px)"
                /> -->
                <img
                  class="order-product__color"
                  src="images/take-order/var3.jpg"
                  alt="headphone1"
                  width="100%"
                />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset="
                    images/take-order/var4.jpg    1x,
                    images/take-order/var4-2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    images/take-order/var4-tab.jpg    1x,
                    images/take-order/var4-tab-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <!-- <source
                  srcset="
                    images/take-order/var4-mob.jpg    1x,
                    images/take-order/var4-mob-2x.jpg 2x
                  "
                  media="(min-width:480px)"
                /> -->
                <img
                  class="order-product__color"
                  src="images/take-order/var4.jpg"
                  alt="headphone1"
                  width="100%"
                />
              </picture>
            </li>
          </ul>
        </div>
      </div>

      <div class="">
        <p class="order-form__title">Contact us</p>

        <form class="order-form">
          <div class="order-form__desktop">
            <div class="order-form__desktop--left">
              <label>
                <input
                  class="order-form__item"
                  type="text"
                  name="user-name"
                  placeholder="Name"
                  required
                />
                <div class="order-form__underline-title"></div>
              </label>

              <label>
                <input
                  class="order-form__item"
                  type="email"
                  name="user-email"
                  placeholder="Email"
                  required
                />
                <div class="order-form__underline-title"></div>
              </label>

              <input type="reset" class="reset" value="Color Option" />
              <div class="__select __color__select" data-state="">
                <div
                  class="__select__title __color__title"
                  data-default="Color Option"
                >
                  Color Option
                </div>
                <div class="__select__content">
                  <input
                    id="singleSelect0"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                    checked
                  />
                  <label
                    for="singleSelect0"
                    class="__select__label __color__label"
                    >Color Option</label
                  >
                  <input
                    id="singleSelect1"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect1"
                    class="__select__label __color__label"
                    >K9D Black Orange</label
                  >
                  <input
                    id="singleSelect2"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect2"
                    class="__select__label __color__label"
                    >K9D Silver Gray</label
                  >
                  <input
                    id="singleSelect3"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect3"
                    class="__select__label __color__label"
                    >K9U White Blue</label
                  >
                </div>
              </div>

              <input type="reset" class="reset" value="Quantity" />
              <div class="__select __quantity__select" data-state="">
                <div
                  class="__select__title __quantity__title"
                  data-default="Quantity"
                >
                  Quantity
                </div>
                <div class="__select__content">
                  <input
                    id="singleSelect0"
                    class="__select__input __quantity__input"
                    type="radio"
                    name="singleSelect"
                    checked
                  />
                  <label
                    for="singleSelect0"
                    class="__select__label __quantity__label"
                    >Quantity</label
                  >
                  <input
                    id="sАingleSelect1"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect1"
                    class="__select__label __quantity__label"
                    >One</label
                  >
                  <input
                    id="singleSelect2"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect2"
                    class="__select__label __quantity__label"
                    >Two</label
                  >
                  <input
                    id="singleSelect3"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect3"
                    class="__select__label __quantity__label"
                    >Three</label
                  >
                </div>
              </div>

              <input type="reset" class="reset" value="Payment" />
              <div class="__select __payment__select" data-state="">
                <div
                  class="__select__title __payment__title"
                  data-default="Payment"
                >
                  Payment
                </div>
                <div class="__select__content">
                  <input
                    id="singleSelect0"
                    class="__select__input __payment__input"
                    type="radio"
                    name="singleSelect"
                    checked
                  />
                  <label
                    for="singleSelect0"
                    class="__select__label __payment__label"
                    >Payment</label
                  >
                  <input
                    id="sАingleSelect1"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect1"
                    class="__select__label __payment__label"
                    >Cash</label
                  >
                  <input
                    id="singleSelect2"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect2"
                    class="__select__label __payment__label"
                    >Credit Card</label
                  >
                  <input
                    id="singleSelect3"
                    class="__select__input"
                    type="radio"
                    name="singleSelect"
                  />
                  <label
                    for="singleSelect3"
                    class="__select__label __payment__label"
                    >PayPal</label
                  >
                </div>
              </div>
            </div>

            
            <label class="order-form__comment-section">
              <span class="order-form__comment-title">Leave your message</span>
              <textarea
                name="user-comment"
                class="order-form__comment"
                placeholder=""
              ></textarea>
            </label>
          </div>

          <div class="order-form__button--desktop">
            <button
              data-modal="boy"
              class="order-form__button order-form__button--submit js-open-modal"
              type="submit"
            >
              buy it now
            </button>
            <button
              data-modal="hell"
              class="order-form__button order-form__button--add js-open-modal"
              type="submit"
            >
              add to cart
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<!-- modal left -->
<div data-modal="hell" class="order-backdrop js-modal-overlay">
  <div data-modal="hell" class="order-modal js-modal">
    <button class="order-button-close js-modal-close">
      <svg width="15" height="15">
        <use href="images/modal-close.svg#modal-close"></use>
      </svg>
    </button>
    <p class="order-modal-buy-text">
      Excellent choice! <br />
      Let's move on to the checkout!
      <a href="./index.html" class="link order-modal-button">
        <span class="order-modal-btn-text">let's go</span>
      </a>
    </p>
  </div>
</div>
<!-- modal right -->
<div data-modal="boy" class="order-backdrop js-modal-overlay">
  <div data-modal="boy" class="order-modal js-modal">
    <button class="order-button-close js-modal-close">
      <svg width="15" height="15">
        <use href="images/modal-close.svg#modal-close"></use>
      </svg>
    </button>
    <p class="order-modal-buy-text">
      Thank you <br />
      for your order!<br />
      We will contact you soon!
      <a href="./accessories.html" class="link order-modal-button">
        <span class="order-modal-btn-text">Keep shopping</span>
      </a>
    </p>
  </div>

  <script src="./js/modal.js"></script>
  <script src="./js/ordermodal.js"></script>
  <script src="./js/select.js"></script>
</div>
