.container {
  width: 100%;
  max-width: 480px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;

  @include tablet {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include desktop {
    max-width: 1280px;
  }
}

// .header__container {
//   @extend %align-list;
// }

// .footer__container {
//   @include desktop {
//     display: flex;
//     align-items: baseline;
//   }
// }
