// .section {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     background-color: var(--light-background-color);

//     &--background {
//         background-color: var(--semi-light-background-color);
//     }

//     @include desktop {
//         padding-top: 94px;
//         padding-bottom: 94px;
//     }

//     &--padding-top {
//         padding-top: 0;
//     }

//     &-title {
//         margin-bottom: 30px;
//         font-weight: 700;
//         font-size: 28px;
//         line-height: 1.18;
//         text-align: center;
//         color: var(--second-text-color);

//         @include desktop {
//             margin-bottom: 50px;
//             font-size: 36px;
//             line-height: 1.17;
//         }
//     }
// }