.section_one {
  padding-top: 40px;
  padding-bottom: 48px;
  background-image: url('../images/bg/bg-mob.jpg');
  @include retina {
    background-image: url('../images/bg/bg-mob-2x.jpg');
  }
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('../images/bg/bg-tab.jpg');
    @include retina {
      background-image: url('../images/bg/bg-tab-2x.jpg');
    }
  }

  @include desktop {
    background-image: url('../images/bg/bg1-desk.jpg');
    @include retina {
      background-image: url('../images/bg/bg1-desk-2x.jpg');
    }
  }
}

.container-content {
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    margin-top: 74px;
    margin-bottom: 32px;
    padding-left: 80px;
    padding-right: 80px;
  }
  @include desktop {
    padding-left: 40px;
    padding-right: 40px;
  }
}

// --NAVIGATION TOP---
.list-button {
  display: flex;
  gap: 24px;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    gap: 24px;
  }
  @include tablet {
    justify-content: center;
    gap: 53px;
  }
}

.list-button__button {
  border-radius: 16px;
  border: 1px solid #86e543;
  background-color: transparent;
  font-family: inherit;
  color: #86e543;
  width: 124px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;

  @include tablet {
    width: 132px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: #01383a;
    background-color: #86e543;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  }
}

.accessories-section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  margin-right: 16px;
  margin-bottom: 27px;
  @include tablet {
    font-size: 56px;
      line-height: 1.18;
  }
}

// ZIG-ZAG LINES

.ac-lines {
  position: relative;
  width: 100%;
}
.ac-line-top,
.ac-line-bottom {
  position: absolute;
  display: block;
  height: 1px;
  background-color: #28780d;
  box-shadow: var(--sub-underline-shadow);
}
.ac-line-top {
  background-color: var(--top-underline-color);
  box-shadow: var(--top-underline-shadow);
}

.ac-line-top-1 {
  width: 60vw;
  top: 33px;
  left: calc((100% - 100vw) / 2);

  @include tablet {
    width: 65vw;
    top: 76px;
  }
  @include desktop {
    width: 45vw;
  }
}
.ac-line-top-2 {
  width: 1px;
  height: 11px;
  top: 23px;
  left: calc(60vw + ((100% - 100vw) / 2));

  @include tablet {
    top: 66px;
    left: calc(65vw + ((100% - 100vw) / 2));
  }
  @include desktop {
    left: calc(45vw + ((100% - 100vw) / 2));
  }
}
.ac-line-top-3 {
  width: 40vw;
  height: 1px;
  top: 23px;
  left: calc(60vw + ((100% - 100vw) / 2));

  @include tablet {
    width: 35vw;
    top: 65px;
    left: calc(65vw + ((100% - 100vw) / 2));
  }
  @include desktop {
    width: 55vw;
    left: calc(45vw + ((100% - 100vw) / 2));
  }
}
.ac-line-bottom-1 {
  width: calc(60vw + 8px);
  top: 41px;
  left: calc((100% - 100vw) / 2);

  @include tablet {
    top: 84px;
    width: calc(65vw + 8px);
  }
  @include desktop {
    width: calc(45vw + 8px);
  }
}
.ac-line-bottom-2 {
  width: 1px;
  height: 11px;
  top: 31px;
  left: calc(60vw + ((100% - 100vw) / 2) + 8px);

  @include tablet {
    top: 74px;
    left: calc(65vw + ((100% - 100vw) / 2) + 8px);
  }
  @include desktop {
    left: calc(45vw + ((100% - 100vw) / 2) + 8px);
  }
}
.ac-line-bottom-3 {
  width: calc(40vw - 8px);
  height: 1px;
  top: 31px;
  left: calc(60vw + ((100% - 100vw) / 2) + 8px);
  
  @include tablet {
    width: calc(35vw - 8px);
    top: 73px;
    left: calc(65vw + ((100% - 100vw) / 2) + 8px);
  }
  @include desktop {
    width: calc(55vw - 8px);
    left: calc(45vw + ((100% - 100vw) / 2) + 8px);
  }
}

.list-cards {
  display: block;
  gap: 16px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  @include desktop {
    gap: 24px;
  }
  &__item {
    width: 100%;

    @include tablet {
      width: calc((100% - 1 * 24px) / 2);
    }

    @include desktop {
      width: calc((100% - 3 * 24px) / 4);
    }
  }
}

.list-cards__block {
  gap: 16px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

// .list-cards__item {
//     display: block;

//     @include tablet {
//         width: 285px;
//         flex-basis: calc((100% - 38px) / 2);
//     }

//         @include desktop {
//         width: 285px;
//         flex-basis: calc((100% - 20px) / 5);
//     }
// }

.list-cards__link {
  display: block;
  text-decoration: none;
}

.list-cards__container-img {
  position: relative;
  overflow: hidden;
  border: 1px solid #86e543;
  border-radius: 12px;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  }
}

.list-cards__img {
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
  width: 100%;
  height: 100%;
  padding: 16px 16px;
  background-color: #01383a;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
    border: 1px solid #86e543;
    border-radius: 12px;
  }
}

.overlay-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  // max-width: 253px;
  @include tablet {
    margin-bottom: 16px;
  }
}

.list-cards__link:hover .overlay,
.list-cards__link:focus .overlay {
  transform: translateY(0);
}

.list-cards__title {
  color: #86e543;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  flex-grow: 0;
  margin-right: 8px;
}

.list-card__price {
  display: flex;
  gap: 80px;
  margin-right: 8px;
  margin-bottom: 11px;
}

.list-cards__text1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8d9289;
}

.list-cards__text2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #86e543;
  justify-content: baseline;
  gap: 80px;
}
