.blog-article-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background-image: url('../images/blog/bg.jpg');

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    background-image: url('../images/blog/bg-tabl.jpg');
  }

  @include desktop {
    width: 1200px;
    background-image: url('../images/blog/bg-dsct.jpg');
  }
}

.blog-lines {
  position: relative;
  width: 100%;
}

.blog-line-top,
.blog-line-bottom {
  position: absolute;
  display: block;
  height: 1px;
  background-color: #28780d;
}

.blog-line-top {
  background-color: #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
}

.blog-line-top-1 {
  width: 50vw;
  top: 43px;
  left: calc((100% - 100vw) / 2);

  @include tablet {
    top: 121px;
  }

  @include desktop {
    width: 40vw;
  }
}

.blog-line-top-2 {
  width: 1px;
  height: 11px;
  top: 33px;
  left: calc(50vw + ((100% - 100vw) / 2));

  @include tablet {
    top: 111px;
  }

  @include desktop {
    left: calc(40vw + ((100% - 100vw) / 2));
  }
}

.blog-line-top-3 {
  width: 50vw;
  height: 1px;
  top: 33px;
  left: calc(50vw + ((100% - 100vw) / 2));

  @include tablet {
    top: 110px;
  }

  @include desktop {
    width: 60vw;
    left: calc(40vw + ((100% - 100vw) / 2));
  }
}

.blog-line-bottom-1 {
  width: calc(50vw + 8px);
  top: 51px;
  left: calc((100% - 100vw) / 2);

  @include tablet {
    top: 129px;
  }

  @include desktop {
    width: calc(40vw + 8px);
  }
}

.blog-line-bottom-2 {
  width: 1px;
  height: 11px;
  top: 41px;
  left: calc(50vw + ((100% - 100vw) / 2) + 8px);

  @include tablet {
    top: 119px;
  }

  @include desktop {
    left: calc(40vw + ((100% - 100vw) / 2) + 8px);
  }
}

.blog-line-bottom-3 {
  width: 50vw;
  height: 1px;
  top: 41px;
  left: calc(50vw + ((100% - 100vw) / 2) + 8px);

  @include tablet {
    top: 118px;
  }

  @include desktop {
    width: 60vw;
    left: calc(40vw + ((100% - 100vw) / 2) + 8px);
  }
}

.article-list-mobile {
  @include tablet {
    color: var(--second-text-color);
  }

  @include desktop {
    color: var(--second-text-color);
  }
}

.article-page-title {
  margin-top: 40px;
  padding-left: 16px;
  margin-bottom: 31px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: var(--main-text-color);
  @include tablet {
    margin-top: 120px;
    font-size: 56px;
    line-height: 1;
    margin-bottom: 72px;
  }
}

.article-block {
  @include tablet {
    display: flex;
    align-items: flex-end;
  }
}

.article-image {
  margin-bottom: 20px;
  width: 100%;
  @include tablet {
    width: 387px;
    border-radius: 12px;
    margin-left: 40px;
  }
}

.article-author {
  padding-left: 16px;
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-text-color);
  @include tablet {
    color: var(--second-text-color);
    font-size: 24px;
    line-height: 100%;
    margin-left: 40px;
    margin-bottom: 32px;
    width: 134px;
  }
}

.article-date {
  padding-left: 16px;
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--semi-light-text-color);
  @include tablet {
    margin-left: 40px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 100%;
    width: 261px;
  }
}

.article-content {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 48px;
  color: var(--main-text-color);
  @include tablet {
    font-size: 24px;
    line-height: 1.16;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 120px;
  }
}

.article-list-mobile__list {
  padding: 0 20px;
  margin: 0;
  @include tablet {
    padding: 0 40px;
  }
}

.article-list-mobile__title {
  padding-left: 4px;
}

.article-list-mobile__item {
  padding-left: 5px;
}
