.blog-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 120px;
  background-image: url('../images/blog/bg.jpg');

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    background-image: url('../images/blog/bg-tabl.jpg');
  }

  @include desktop {
    width: 1200px;
    background-image: url('../images/blog/bg-dsct.jpg');
  }
}

.blog {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-title {
  margin-top: 40px;
  padding-left: 16px;
  margin-bottom: 31px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: var(--main-text-color);

  @include tablet {
    margin-top: 120px;
    padding-left: 99px;
    font-size: 56px;
    line-height: 1.17;
  }
}

.blog-article {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.blog-article__block {
  @include tablet {
    display: flex;
    align-items: flex-end;
  }
}

.blog-article__title {
  margin-bottom: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: var(--main-text-color);
  @include tablet {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 56px;
    line-height: 1;
  }
}

.blog-article__author {
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-text-color);

  @include tablet {
    margin-bottom: 32px;
    margin-left: 40px;
    font-size: 24px;
    line-height: 100%;
    width: 138px;
  }
}

.blog-article__date {
  margin-bottom: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--semi-light-text-color);
  @include tablet {
    margin-left: 40px;
    font-size: 24px;
    line-height: 100%;
  }
}

.blog-article__text {
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: var(--main-text-color);
  @include tablet {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.16;
  }
}

.blog-article__image {
  margin-bottom: 8px;
  width: 100%;

  @include tablet {
    margin-bottom: 16px;
    width: 387px;
    border-radius: 12px;
  }
}

.blog-article__link {
  text-decoration: none;
  color: var(--second-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: block;
  text-align: right;
  @include tablet {
    font-size: 24px;
    line-height: 100%;
  }
}
