.footer {
  padding-top: 25px;
  padding-bottom: 25px;

  background: var(--footer-background-color);
}

.footer .container {
  @include tablet {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  // @include desktop {
  //   justify-content: center;
  // }
}

.logo {
  display: block;
  width: 122px;
  margin-bottom: 25px;
  text-align: center;

  @include tablet {
    margin-right: 60px;
  }

  @include desktop {
    margin-right: 118px;
  }
}

.logo-title {
  font-family: var(--bold-font);
  font-size: 24px;
  line-height: 1.17;
  color: var(--main-text-color);
  transition: cursor var(--duration) var(--timing-function),
      filter var(--duration) var(--timing-function);
  
    &:hover,
    &:focus {
      cursor: pointer;
      filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
    }
}

.footer .menu-list {
  margin-right: 160px;
  margin-bottom: 24px;

  @include tablet {
    margin-right: 89px;
  }

  @include desktop {
    margin-right: 217px;
  }
}

.menu-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-list__link {
  font-size: 16px;
  line-height: 100%;

  color: var(--main-text-color);

  transition: cursor var(--duration) var(--timing-function),
      filter var(--duration) var(--timing-function);
  
    &:hover,
    &:focus {
      cursor: pointer;
      filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
    }
}

.socials-list {
  @include tablet {
    display: flex;
    margin-right: 73px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    margin-right: 281px;
  }
}

.address-list__text {
  font-size: 16px;
  line-height: 100%;
  font-style: normal;
  margin-bottom: 8px;
}

.address-list__link {
  font-size: 16px;
  line-height: 1.19;
  color: var(--semi-light-text-color);
  transition: cursor var(--duration) var(--timing-function),
      filter var(--duration) var(--timing-function);
  
    &:hover,
    &:focus {
      cursor: pointer;
      filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
    }
}

.address-list__item {
  margin-bottom: 8px;
}

.address-list__item:first-child {
  margin-bottom: 16px;
}

.menu-socials {
  display: flex;
  justify-content: space-between;
}

.socials-list__item:not(:last-child) {
  margin-bottom: 32px;

  @include tablet {
    margin-right: 16px;
  }

  @include desktop {
    margin-bottom: 16px;
  }
}

.socials-list__link {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: cursor var(--duration) var(--timing-function),
      filter var(--duration) var(--timing-function);
  
    &:hover,
    &:focus {
      cursor: pointer;
      filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
    }
}


