.header {
  position: relative;
  background: var(--main-background-color);
  box-shadow: var(--header-shadow);
}

.header-container .logo {
  margin: 0;

  @include desktop {
    margin-right: 335px;
  }
}

.header-container .menu-list {
  display: flex;
  gap: 48px;
}

@media (max-width: 1279px) {
  .header-container .menu-list {
    display: none;
  }
}

.header-button {
  width: 95px;
  height: 40px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 9px;
  padding-bottom: 9px;

  background: #86e543;
  border-radius: 16px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: -0.03em;

  color: #000000;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include desktop {
    width: 102px;
    height: 46px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;

    line-height: 1;
  }

  &:hover {
    box-shadow: var(--btn-shadow);
  }
}

@media (max-width: 767px) {
  .header-button {
    display: none;
  }
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
  }

  @include desktop {
  }
}

.header-container .menu-list__item {
  position: relative;
}

.menu-list__link.current::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin: 0;
  transform: translate(-50%);

  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--btn-accent-color);
}

.mob-menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;

  @include tablet {
    margin-right: 222px;
  }

  @include desktop {
    display: none;
  }
}

.mob-menu-close-btn .icon-cross {
  display: none;
}

.mob-menu-close-btn.is-open .icon-cross {
  display: block;
}

.mob-menu-close-btn.is-open .icon-burger {
  display: none;
}

.mob-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 64px;
  padding-bottom: 236px;
  background-image: url(/src/images/bg/menu-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;

  box-shadow: inset 0px 4px 10px rgba(97, 162, 58, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);

  &.is-open {
    display: block;
  }
  @include retina {
    background-image: url(/src/images/bg/menu-bg-mob-2x.jpg);
  }

  @include tablet {
    padding-top: 120px;
    padding-bottom: 574px;
    background-image: url(/src/images/bg/menu-bg-tab.jpg);
    @include retina {
      background-image: url(/src/images/bg/menu-bg-tab-2x.jpg);
    }
  }
}

.mob-menu .menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.mob-menu .menu-list__item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu .menu-list__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17px;
  text-transform: uppercase;
}

.header-container .menu-list__item:not(:last-child) {
  margin-bottom: 0;
}
