.test {
  font-family: var(--main-font);
  font-size: 40px;
  border-bottom: 1px solid var(--underline-color);
  box-shadow: var(--underline-shadow);
}
.wrap {
  background-image: url(../images/bg/hero-bg-desk.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: url(../images/bg/hero-bg-desk-2x.jpg);
  }
}
