.test {
  font-family: var(--main-font);
  font-size: 40px;
  border-bottom: 1px solid var(--underline-color);
  box-shadow: var(--underline-shadow);
}
.wrap {
  background-image: url(../images/bg/hero-bg-desk.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: url(../images/bg/hero-bg-desk-2x.jpg);
  }
}

// Underline

.underline {
  display: flex;
  height: 8px;
  width: 100%;
}
.underline-bottom {
  height: 8px;
  width: calc(100% / 5 * 2);
  border-bottom: 1px solid var(--top-underline-color);
  border-right: 1px solid var(--top-underline-color);
  box-shadow: var(--top-underline-shadow);
  // outline: 1px solid #ffffff;
}
.underline-top {
  height: 8px;
  width: calc(100% / 5 * 3);
  border-top: 1px solid var(--top-underline-color);
  box-shadow: var(--top-underline-shadow);
}